body
  margin: 0
  padding: 0
  font-family: Helvetica Neue !important
  font-size: 15px !important
  color: #999

h1
  font-size: 24px
  color: #666
  text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.3)
h2
  font-size: 20px
  color: #666
  text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.3)

h3
  font-size: 20px
  color: #666
  text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.3)

a
  color: #009ad7
  text-decoration: none
  &:visited
    color: #009ad7
  &:hover
    color: #009ad7
    text-decoration: underline
  &:focus
    color: #009ad7

textarea.auto
  height: auto
  width: auto

dl
  margin: 0
  line-height: 1.2em
  dt
    font-weight: normal
    margin: 0
  dd
    margin: 0

table
  td
    border: none !important
    img
      margin: 0
  &.comment
    width: auto
    margin: 0 auto
    td
      text-align: left

img
  border: none

p
  margin: 0
  padding: 0

label
  display: block
  font-size: 13px
  font-weight: bold

fieldset
  background: $graySmoke
  border: none
  padding: 10px
  @include border-radius(6px)

a.button
  @include snappitt_button