h2.feed_date
  clear: both
  font-family: georgia
  font-style: italic
  font-size: 20px
  font-weight: normal
  color: gray
  text-decoration: none

table.feed
  margin: 0 auto
  width: auto
  td
    text-align: center
    border: none

div.experience_card
  width: 292px
  float: left
  padding: 15px
  margin-bottom: 25px
  h3
    font-size: 18px
  .cover
    border: 6px solid #e7e7e7
    @include border-radius(6px)
    position: relative
    width: 280px
    height: 157px
    overflow: hidden
    margin-bottom: 10px
    &:hover
      border: 6px solid #e0e0e0

    .user
      position: absolute
      right: 10px
      top: 10px
      width: 48px
      height: 48px
      background-color: white
      @include border_radius(6px)
      -moz-box-shadow: 0px 0px 5px black
    .moments
      position: absolute
      background-color: black
      opacity: 0.7
      right: 10px
      bottom: 10px
      @include border-radius(4px)
      color: white
      font-size: 10px
      padding: 3px 10px
  .stats
    border-top: 1px solid #999
    color: #999999
    margin-top: 10px
    padding: 10px

.experience_header
  position: relative
  text-align: left
  img.icon
    @include border-radius(4px)
    @include box-shadow(#666, 0, 1px, 2px, 0)
    position: absolute
    top: 0
    left: 0
  padding-left: 63px
  margin-bottom: 20px
  var
    color: gray
  .by
  .details
  .stats
    position: absolute
    top: 0
    right: 0
    padding: 10px
    background-color: $graySmoke
    @include border-radius(6px)
    dfn
      &.views
        background-position: -100px -200px
      &.likes
        background-position: -100px -200px
      &.comments
        background-position: -100px -200px
