form
  input[type="text"]
    -moz-transition-duration: 0.1s
    -moz-transition-property: border-color
    -moz-transition-timing-function: linear
    background: none repeat scroll 0 0 #FFFFFF
    border: 1px solid #B3B3B3
    border-radius: 4px 4px 4px 4px
    width: 180px
    font: 15px/18px "Helvetica Neue",Arial,sans-serif
    height: 24px
    outline: medium none
    padding: 5px 9px
    vertical-align: bottom
    &:hover
      border-color: #8c8c8c
    &:focus
      border-color: #39b2e5
      box-shadow: 0 0 5px 0 #b5dff1
          
  input[type="password"]
    -moz-transition-duration: 0.1s
    -moz-transition-property: border-color
    -moz-transition-timing-function: linear
    background: none repeat scroll 0 0 #FFFFFF
    border: 1px solid #B3B3B3
    border-radius: 4px 4px 4px 4px
    width: 180px
    font: 15px/18px "Helvetica Neue",Arial,sans-serif
    height: 24px
    outline: medium none
    padding: 5px 9px
    vertical-align: bottom
    &:hover
      border-color: #8c8c8c
    &:focus
      border-color: #39b2e5
      box-shadow: 0 0 5px 0 #b5dff1
      
  input[type="submit"]
    background: none repeat scroll 0 0 #97CA00
    border-radius: 4px 4px 4px 4px
    border: none
    font-family: Helvetica Neue,Arial,sans-serif
    font-size: 15px
    color: #FFFFFF
    font-weight: bold
    height: 35px
    line-height: 30px
    vertical-align: top
    padding: 0 18px
    &:hover
      background: none repeat scroll 0 0 #90c100
  td
    text-align: left
    &.side
      border-left: 1px dotted black !important
      vertical-align: middle
      padding-left: 20px
    &.remember
      text-align: right


