.moment_card
  img
    margin: 0
    border: 6px solid $graySmoke
    @include border-radius(6px)
  p
    font-size: 13px
    &.links
      width: 620px
      text-align: right
      margin: 0 auto
  blockquote
    width: 620px
    margin: 10px auto
    border: none
    padding: 0
