.moment_card
  margin-bottom: 50px
  position: relative
  h2
    color: lightGray
    text-align: left
    font-size: 26px
    border-bottom: 5px solid $graySmoke
    small
      font-size: 14px
  .moment
    position: relative
    text-align: center
    img
      margin: 0
      &.photo
        border: 6px solid $graySmoke
        @include border-radius(6px)
      &.published
        width: 100px
        position: absolute
        bottom: 20px
        right: 25%
  .avatar
    text-align: center
    padding: 10px
  .number
    position: absolute
    right: 0
    top: 15px
    font-size: 14px
    color: lightGray
    text-align: right
  textarea
    height: 1.2em
    vertical-align: middle
  &.comment
    width: auto
    margin: 0
    td
      text-align: left
  p
    font-size: 13px
    text-align: center
    &.links
      text-align: left
      margin: 5px
      a
        @include snappitt_button
    &.admin
      text-align: right
    &.metadata
      font-size: 11px
      font-color: #999

  blockquote
    margin: 10px auto
    border: none
    font-style: italic
    padding: 0
    text-align: center

  input[type="submit"]
    @include snappitt_button_highlight
    margin: 10px auto

  span.source
    border-bottom: 1px dotted lightBlue