#page_header
  z-index: 100
  color: white
  height: 135px
  margin: 0 auto
  text-align: center
  background: url('#{$asset_url}/header/header-bg.jpg') #333
  a
    color: #999999
  h1
    font-size: 28px
    color: #f5f5f5
    font-family: Georgia
    font-style: italic
    margin: 0
    padding: 15px 0 5px
  ul
    margin: 0 auto
    padding: 0
    width: 650px
    li
      width: 20%
      float: left
      margin: 0
      padding: 0
      list-style: none
      var.alerts
        color: white
        background: red
        @include border-radius(10px)
        padding: 1px 5px
        font-size: 11px
        text-indent: 0px
        -moz-box-shadow: 1px 2px 4px black
        -webkit-box-shadow: 1px 2px 4px black
        box-shadow: 1px 2px 4px black
      a
        background: url(#{$asset_url}/header/header-icons.png) no-repeat 0 0
        width: 80px
        height: 80px
        margin: 0 auto
        display: block
        text-decoration: none
        outline: none
        &:hover span
          display: inline
          font-size: 13px
          color: #f5f5f5
        span
          display: none
          text-decoration: none
          background: #040404
          opacity: .6
          @include border_radius(6px)
          -moz-box-shadow: 0 0 2px rgba (0, 0, 0, 0.4)
          padding: 4px 8px
        &.selected
          span
            display: inline
            font-size: 13px
            color: #f5f5f5
        &.home
          background-position: -60px -8px
          &.selected
            background-position: -60px -368px
            &:hover
              background-position: -60px -368px
          &:hover
            background-position: -60px -128px
          &:active
            background-position: -60px -248px
        &.profile
          background-position: -260px -8px
          &.selected
            background-position: -260px -368px
            &:hover
              background-position: -260px -368px
          &:hover
            background-position: -260px -128px
          &:active
            background-position: -260px -248px
        &.upload
          width: 105px
          background-position: -448px -8px
          &:hover
            background-position: -448px -8px
          &:active
            background-position: -448px -8px
        &.users
          background-position: -660px -8px
          &.selected
            background-position: -660px -368px
            &:hover
              background-position: -660px -368px
          &:hover
            background-position: -660px -128px
          &:active
            background-position: -660px -248px
            &:hover
              background-position: -660px -248px
        &.users_settings
          background-position: -860px -8px
          &.selected
            background-position: -860px -368px
            &:hover
              background-position: -860px -368px
          &:hover
            background-position: -860px -128px
          &:active
            background-position: -860px -248px

  #page_logout
    position: absolute
    right: 50px
    top: 25px
    color: #666666
    a
      @include button_header
    small
      font-size: 10px
      color: #666


#page_account
  padding: 20px
  background-color: white
  border-bottom: 1px solid #d9d9d9
  &.welcome
    background: url("http://snappitt-assets.s3.amazonaws.com/flavor/splash-bg.png") no-repeat scroll center top #009AD7
    height: 227px
    padding-top: 225px
    h2, h3, label
      color: $graySmoke
    a
      color: $graySmoke
    table.signin
      margin-top: 25px

  table.signin
    width: auto
    margin: 0 auto
    input[type="submit"]
      @include big_button
    td
      text-align: left
      &.side
        a
          border-left: 1px dotted black 
          padding-left: 20px
          padding-top: 20px
          padding-bottom: 20px
        vertical-align: middle
        padding-left: 20px
      &.remember
        text-align: right
      input[type="submit"]
        vertical-align: top

#page_middle
  margin-top: 135px
  text-align: center
  padding-bottom: 50px
  background-color: whiteSmoke
  &.welcome
    margin-top: 0
  #page_middle_box
    @include page_center_box
    padding-top: 25px
    table.network
      width: 100%
      td
        vertical-align: top

#page_footer
  text-align: center
  color: #999999
  border-top: 1px solid #d9d9d9
  width: 100%
  bottom: 0
  min-height: 35px
  background-color: white
  .footer
    @include page_center_box
    padding-top: 10px
    position: relative
    .links
      color: gray
      text-align: left
    .stats
      position: absolute
      top: 10px
      right: 0
      width: 200px
      height: 2em
      text-align: right