body
  margin: 0
  padding: 0
  font-family: Helvetica Neue !important
  font-size: 14px !important
  background-color: whiteSmoke !important

#page_header
  z-index: 100
  background-color: #333
  color: white
  position: fixed
  height: 135px
  top: 0
  left: 0
  width: 100%
  text-align: center
  background-image: url(/images/header-bg.jpg)
  a
    color: white
  h1
    font-size: 28px
    color: white
    font-family: Georgia, Helvetica Neue
    font-style: italic
    margin: 15px
    padding: 0
  ul
    margin: 0 auto
    padding: 0
    max-width: 950px
    min-width: 300px
    a span
      display: none
    &:hover
      a span
        display: inline
    li
      width: 20%
      float: left
      margin: 0
      padding: 0
      list-style: none
      a
        background: url(/images/header-icons.png) no-repeat 0 0
        width: 60px
        height: 70px
        margin: 0 auto
        display: block
        text-decoration: none
        &:hover
          span
            color: #188AAD
        span
          text-decoration: none
          background: black
          -moz-border-radius: 6px
          -moz-box-shadow: 0 0 2px black
          padding: 2px 4px
        &.home
          background-position: -26px 2px
          &:hover
            background-position: -146px 2px
        &.me
          background-position: -26px -110px
          &:hover
            background-position: -146px -110px
        &.upload
          width: 98px
          background-position: -8px -230px
          &:hover
            background-position: -8px -230px
        &.network
          background-position: -26px -336px
          &:hover
            background-position: -146px -336px
        &.settings
          background-position: -26px -450px
          &:hover
            background-position: -146px -450px

  #page_logout
    position: absolute
    right: 50px
    top: 25px

#page_body
  margin-top: 125px
  text-align: center
  margin-bottom: 50px
  background-color: white
  padding-top: 20px

#page_footer
  text-align: center
  width: 100%
  bottom: 0
  height: 35px