.experience_controller
  
  fieldset.upload
    width: 600px
    margin: 0 auto
    textarea
      width: auto
      height: auto
  #page_middle
    input[type="submit"]
      @include snappitt_button_highlight
      margin: 10px auto