.experience_controller
  
  #page_middle_box
    fieldset.upload_email,.upload_form
      label
        display: block
      width: 600px
      margin: 0 auto
      textarea
        width: auto
        height: auto
      input[type="submit"]
        @include snappitt_button_highlight
        margin: 10px auto
    fieldset
      textarea
        vertical-align: middle
    .thebasics
      ul
        position: relative
        width: 630px

        img
          margin-bottom: 5px
          @include border-radius(4px)
          @include box-shadow(#666, 0, 1px, 2px, 0)
        li
          float: left
          width: 190px
          padding: 10px
          text-align: left
          h2
            font-weight: bold
            font-size: 15px
          p
            font-size: 13px
            line-height: 1.3em

    .view
      padding: 15px
      margin: 25px
      background-color: white
      @include border-radius(6px)
      a
        @include big_button