.session_controller
  #page_center
    label
      display: inline

    p
      margin: 15px 0

    input[type="submit"]
      @include big_button

.registration_controller
  #page_center
    label
      display: inline
    p
      margin: 15px 0
    input[type="submit"]
      @include big_button