.user_controller
  table.feed
    width: 640px
    float: left
    padding-top: 10px
    tbody
      padding: 0
    .experience_card
      padding-left: 0px
    h2
      text-align: left
  table.split
    width: 300px
    padding-top: 10px
    background: #EFEFEF
    border-bottom: 1px solid #DEDEDE
    @include border-radius(6px)
    h2
      clear: both
      color: #666
      font-family: georgia,serif
      font-size: 20px
      font-style: italic
      font-weight: normal
      text-decoration: none
      text-align: left
    td
      padding-top: 0
      width: 100%
