<div class="footer">

<p class="links">
  <a href="/">Home</a> <br/>
  <%= t('footer.developed_in') %>
</p>

<dl class="stats">
  <dt><%= t('footer.moment_count')%></dt>
  <dd><%= Moment.count %></dd>
</dl>

</div>

<br/>ToDo:<br/>
added moments by other users should not steal creator,
log out other user before confirm,
experiences not public till account confirmed,
tag people - also triggers an invite,
redo icon hovers (no more double click on iphone),
make password set on first login a header banner,
feed is only followers and events,
notifications,
facebook share,
twitter share,
include experience stats in confirmation email,
wrap whole create process in a transaction,
user search,
audit language localization (slacked in a few places)