<div class="footer">

<p class="links">
  <a href="/">Home</a> <br/>
  <%= t('footer.developed_in') %>
</p>

<dl class="stats">
  <dt><%= t('footer.moment_count')%></dt>
  <dd><%= Moment.count %></dd>
</dl>

</div>

<% if Rails.env != 'production' %>
<br/>ToDo:<br/>
tag people - also triggers an invite,
temporary collaborators in feed,
feed is only followers and events,
facebook share,
twitter share,
wrap whole create process in a transaction,
user search,
more language localization
<% end %>