/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1301007155') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus {
  outline: none;
}

/* line 1, sass/controllers/_home.sass */
.home_controller {
  border: none;
}

/* line 3, sass/controllers/_experience.sass */
.experience_controller fieldset.upload {
  width: 600px;
  margin: 0 auto;
}
/* line 6, sass/controllers/_experience.sass */
.experience_controller fieldset.upload textarea {
  width: auto;
  height: auto;
}
/* line 10, sass/controllers/_experience.sass */
.experience_controller #page_middle input[type="submit"] {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c1e445), color-stop(100%, #a7d727));
  background-image: -moz-linear-gradient(top, #c1e445 0%, #a7d727 100%);
  background-image: linear-gradient(top, #c1e445 0%, #a7d727 100%);
  border: 1px solid #5a7214;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: #5a7214;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  outline: medium none;
  padding: 5px 10px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  margin: 10px auto;
}
/* line 45, sass/application.sass */
.experience_controller #page_middle input[type="submit"]:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cbf048), color-stop(100%, #b3e529));
  background-image: -moz-linear-gradient(top, #cbf048 0%, #b3e529 100%);
  background-image: linear-gradient(top, #cbf048 0%, #b3e529 100%);
  cursor: pointer;
  text-decoration: none;
}
/* line 49, sass/application.sass */
.experience_controller #page_middle input[type="submit"]:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b3e529), color-stop(100%, #cbf048));
  background-image: -moz-linear-gradient(top, #b3e529 0%, #cbf048 100%);
  background-image: linear-gradient(top, #b3e529 0%, #cbf048 100%);
  box-shadow: none;
}
/* line 14, sass/controllers/_experience.sass */
.experience_controller fieldset textarea {
  vertical-align: middle;
}
/* line 17, sass/controllers/_experience.sass */
.experience_controller .comment img {
  padding-top: 6px;
}
/* line 19, sass/controllers/_experience.sass */
.experience_controller .comment a {
  padding-left: 5px;
}
/* line 21, sass/controllers/_experience.sass */
.experience_controller .comment td.text {
  padding-left: 5px;
}

/* line 3, sass/controllers/_session.sass */
.session_controller #page_center label {
  display: inline;
}
/* line 6, sass/controllers/_session.sass */
.session_controller #page_center p {
  margin: 15px 0;
}
/* line 9, sass/controllers/_session.sass */
.session_controller #page_center input[type="submit"] {
  background: none repeat scroll 0 0 #97ca00;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 15px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  vertical-align: top;
  padding: 8px 18px;
}
/* line 65, sass/application.sass */
.session_controller #page_center input[type="submit"]:hover {
  background: none repeat scroll 0 0 #90c100;
}

/* line 14, sass/controllers/_session.sass */
.registration_controller #page_center label {
  display: inline;
}
/* line 16, sass/controllers/_session.sass */
.registration_controller #page_center p {
  margin: 15px 0;
}
/* line 18, sass/controllers/_session.sass */
.registration_controller #page_center input[type="submit"] {
  background: none repeat scroll 0 0 #97ca00;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 15px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  vertical-align: top;
  padding: 8px 18px;
}
/* line 65, sass/application.sass */
.registration_controller #page_center input[type="submit"]:hover {
  background: none repeat scroll 0 0 #90c100;
}

/* line 3, sass/controllers/_setting.sass */
.setting_controller #page_center form {
  width: 600px;
  text-align: left;
  margin-left: 10px;
}
/* line 7, sass/controllers/_setting.sass */
.setting_controller #page_center label {
  text-align: left;
}

/* line 1, sass/shared/_page.sass */
#page_header {
  z-index: 100;
  color: white;
  position: fixed;
  height: 135px;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: url("http://snappitt-assets.s3.amazonaws.com/header/header-bg.jpg") #333333;
}
/* line 11, sass/shared/_page.sass */
#page_header a {
  color: #999999;
}
/* line 13, sass/shared/_page.sass */
#page_header h1 {
  font-size: 28px;
  color: #f5f5f5;
  font-family: Georgia;
  font-style: italic;
  margin: 0;
  padding: 15px 0 5px;
}
/* line 20, sass/shared/_page.sass */
#page_header ul {
  margin: 0 auto;
  padding: 0;
  max-width: 950px;
  min-width: 450px;
}
/* line 25, sass/shared/_page.sass */
#page_header ul li {
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 31, sass/shared/_page.sass */
#page_header ul li a {
  background: url(http://snappitt-assets.s3.amazonaws.com/header/header-icons.png) no-repeat 0 0;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  outline: none;
}
/* line 39, sass/shared/_page.sass */
#page_header ul li a:hover span {
  display: inline;
  font-size: 13px;
  color: #f5f5f5;
}
/* line 43, sass/shared/_page.sass */
#page_header ul li a span {
  display: none;
  text-decoration: none;
  background: #040404;
  opacity: 0.6;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 0 2px rgba 0, 0, 0, 0.4;
  padding: 4px 8px;
}
/* line 52, sass/shared/_page.sass */
#page_header ul li a.selected span {
  display: inline;
  font-size: 13px;
  color: #f5f5f5;
}
/* line 56, sass/shared/_page.sass */
#page_header ul li a.home {
  background-position: -60px -8px;
}
/* line 58, sass/shared/_page.sass */
#page_header ul li a.home.selected {
  background-position: -60px -368px;
}
/* line 60, sass/shared/_page.sass */
#page_header ul li a.home.selected:hover {
  background-position: -60px -368px;
}
/* line 62, sass/shared/_page.sass */
#page_header ul li a.home:hover {
  background-position: -60px -128px;
}
/* line 64, sass/shared/_page.sass */
#page_header ul li a.home:active {
  background-position: -60px -248px;
}
/* line 66, sass/shared/_page.sass */
#page_header ul li a.profile {
  background-position: -260px -8px;
}
/* line 68, sass/shared/_page.sass */
#page_header ul li a.profile.selected {
  background-position: -260px -368px;
}
/* line 70, sass/shared/_page.sass */
#page_header ul li a.profile.selected:hover {
  background-position: -260px -368px;
}
/* line 72, sass/shared/_page.sass */
#page_header ul li a.profile:hover {
  background-position: -260px -128px;
}
/* line 74, sass/shared/_page.sass */
#page_header ul li a.profile:active {
  background-position: -260px -248px;
}
/* line 76, sass/shared/_page.sass */
#page_header ul li a.upload {
  width: 105px;
  background-position: -448px -8px;
}
/* line 79, sass/shared/_page.sass */
#page_header ul li a.upload:hover {
  background-position: -448px -8px;
}
/* line 81, sass/shared/_page.sass */
#page_header ul li a.upload:active {
  background-position: -448px -8px;
}
/* line 83, sass/shared/_page.sass */
#page_header ul li a.users {
  background-position: -660px -8px;
}
/* line 85, sass/shared/_page.sass */
#page_header ul li a.users.selected {
  background-position: -660px -368px;
}
/* line 87, sass/shared/_page.sass */
#page_header ul li a.users.selected:hover {
  background-position: -660px -368px;
}
/* line 89, sass/shared/_page.sass */
#page_header ul li a.users:hover {
  background-position: -660px -128px;
}
/* line 91, sass/shared/_page.sass */
#page_header ul li a.users:active {
  background-position: -660px -248px;
}
/* line 93, sass/shared/_page.sass */
#page_header ul li a.users:active:hover {
  background-position: -660px -248px;
}
/* line 95, sass/shared/_page.sass */
#page_header ul li a.users_settings {
  background-position: -860px -8px;
}
/* line 97, sass/shared/_page.sass */
#page_header ul li a.users_settings.selected {
  background-position: -860px -368px;
}
/* line 99, sass/shared/_page.sass */
#page_header ul li a.users_settings.selected:hover {
  background-position: -860px -368px;
}
/* line 101, sass/shared/_page.sass */
#page_header ul li a.users_settings:hover {
  background-position: -860px -128px;
}
/* line 103, sass/shared/_page.sass */
#page_header ul li a.users_settings:active {
  background-position: -860px -248px;
}
/* line 106, sass/shared/_page.sass */
#page_header #page_logout {
  position: absolute;
  right: 50px;
  top: 25px;
  color: #666666;
}
/* line 111, sass/shared/_page.sass */
#page_header #page_logout a {
  background-clip: padding-box;
  border: 1px solid black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 1px 1px #333333;
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 1px 1px #333333;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 1px 1px #333333;
  background-color: #222222;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #505050), color-stop(50%, #333333), color-stop(50%, #272727), color-stop(100%, #111111));
  background-image: -moz-linear-gradient(top, #505050 0%, #333333 50%, #272727 50%, #111111 100%);
  background-image: linear-gradient(top, #505050 0%, #333333 50%, #272727 50%, #111111 100%);
  text-shadow: black 0 1px 1px;
  color: white;
  font-family: "helvetica neue", Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  outline: medium none;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
}
/* line 87, sass/application.sass */
#page_header #page_logout a:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5c5c5c), color-stop(50%, #333333), color-stop(50%, #272727), color-stop(100%, #111111));
  background-image: -moz-linear-gradient(top, #5c5c5c 0%, #333333 50%, #272727 50%, #111111 100%);
  background-image: linear-gradient(top, #5c5c5c 0%, #333333 50%, #272727 50%, #111111 100%);
}
/* line 89, sass/application.sass */
#page_header #page_logout a:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #111111), color-stop(100%, #333333));
  background-image: -moz-linear-gradient(top, #111111 0%, #333333 100%);
  background-image: linear-gradient(top, #111111 0%, #333333 100%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset, 0 1px 1px #333333;
}
/* line 113, sass/shared/_page.sass */
#page_header #page_logout small {
  font-size: 10px;
  color: #666666;
}

/* line 118, sass/shared/_page.sass */
#page_account {
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid #d9d9d9;
}
/* line 122, sass/shared/_page.sass */
#page_account table.signin {
  width: auto;
  margin: 0 auto;
}
/* line 125, sass/shared/_page.sass */
#page_account table.signin input[type="submit"] {
  background: none repeat scroll 0 0 #97ca00;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 15px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  vertical-align: top;
  padding: 8px 18px;
}
/* line 65, sass/application.sass */
#page_account table.signin input[type="submit"]:hover {
  background: none repeat scroll 0 0 #90c100;
}
/* line 127, sass/shared/_page.sass */
#page_account table.signin label {
  display: inline;
}
/* line 129, sass/shared/_page.sass */
#page_account table.signin td {
  text-align: left;
}
/* line 131, sass/shared/_page.sass */
#page_account table.signin td.side {
  vertical-align: middle;
  padding-left: 20px;
}
/* line 132, sass/shared/_page.sass */
#page_account table.signin td.side a {
  border-left: 1px dotted black;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 139, sass/shared/_page.sass */
#page_account table.signin td.remember {
  text-align: right;
}
/* line 141, sass/shared/_page.sass */
#page_account table.signin td input[type="submit"] {
  vertical-align: top;
}

/* line 144, sass/shared/_page.sass */
#page_middle {
  margin-top: 135px;
  text-align: center;
  padding-bottom: 50px;
  background-color: whiteSmoke;
}
/* line 149, sass/shared/_page.sass */
#page_middle #page_center {
  padding-top: 25px;
  max-width: 980px;
  margin: 0 auto;
}
/* line 153, sass/shared/_page.sass */
#page_middle #page_center table.network {
  width: 100%;
}
/* line 155, sass/shared/_page.sass */
#page_middle #page_center table.network td {
  vertical-align: top;
}

/* line 158, sass/shared/_page.sass */
#page_footer {
  text-align: center;
  color: #999999;
  border-top: 1px solid #d9d9d9;
  width: 100%;
  bottom: 0;
  min-height: 35px;
  background-color: white;
}
/* line 166, sass/shared/_page.sass */
#page_footer .footer {
  max-width: 980px;
  padding-top: 10px;
  margin: 0 auto;
  position: relative;
}
/* line 171, sass/shared/_page.sass */
#page_footer .footer .links {
  color: gray;
  text-align: left;
}
/* line 174, sass/shared/_page.sass */
#page_footer .footer .stats {
  position: absolute;
  top: 10px;
  right: 0;
  width: 200px;
  height: 2em;
  text-align: right;
}

/* line 1, sass/shared/_experiences.sass */
h2.feed_date {
  clear: both;
  font-family: georgia;
  font-style: italic;
  font-size: 20px;
  font-weight: normal;
  color: gray;
  text-decoration: none;
}

/* line 11, sass/shared/_experiences.sass */
table.feed {
  margin: 0 auto;
  width: auto;
}
/* line 14, sass/shared/_experiences.sass */
table.feed td {
  text-align: center;
  border: none;
}

/* line 18, sass/shared/_experiences.sass */
div.experience_card {
  width: 292px;
  float: left;
  padding: 15px;
  margin-bottom: 25px;
}
/* line 23, sass/shared/_experiences.sass */
div.experience_card h3 {
  font-size: 18px;
}
/* line 25, sass/shared/_experiences.sass */
div.experience_card .cover {
  border: 6px solid #e7e7e7;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  width: 280px;
  height: 157px;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 33, sass/shared/_experiences.sass */
div.experience_card .cover:hover {
  border: 6px solid #e0e0e0;
}
/* line 36, sass/shared/_experiences.sass */
div.experience_card .cover .user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 48px;
  height: 48px;
  background-color: white;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: #666666 0 1px 2px 0;
  -webkit-box-shadow: #666666 0 1px 2px 0;
  -o-box-shadow: #666666 0 1px 2px 0;
  box-shadow: #666666 0 1px 2px 0;
}
/* line 45, sass/shared/_experiences.sass */
div.experience_card .cover .moments {
  position: absolute;
  background-color: black;
  opacity: 0.7;
  right: 10px;
  bottom: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  color: white;
  font-size: 10px;
  padding: 3px 10px;
}
/* line 55, sass/shared/_experiences.sass */
div.experience_card .stats {
  border-top: 1px solid #d9d9d9;
  color: #999999;
  margin-top: 10px;
  padding: 10px;
}
/* line 60, sass/shared/_experiences.sass */
div.experience_card .stats dfn {
  color: #999999;
  font-weight: bold;
  position: relative;
  padding-left: 33px;
  margin-right: 33px;
}
/* line 66, sass/shared/_experiences.sass */
div.experience_card .stats dfn span {
  height: 20px;
  width: 30px;
  position: absolute;
  left: -2px;
  background: url("http://snappitt-assets.s3.amazonaws.com/icons/assets2.png") no-repeat scroll 0 0px transparent;
}
/* line 73, sass/shared/_experiences.sass */
div.experience_card .stats dfn.views span {
  background-position: 0 -38px;
}
/* line 75, sass/shared/_experiences.sass */
div.experience_card .stats dfn.views span:hover {
  background-position: 0px -6px;
}
/* line 78, sass/shared/_experiences.sass */
div.experience_card .stats dfn.likes span {
  background-position: -32px -38px;
}
/* line 80, sass/shared/_experiences.sass */
div.experience_card .stats dfn.likes span:hover {
  background-position: -32px -6px;
}
/* line 82, sass/shared/_experiences.sass */
div.experience_card .stats dfn.comments {
  margin-right: 0;
}
/* line 84, sass/shared/_experiences.sass */
div.experience_card .stats dfn.comments span {
  background-position: -65px -38px;
}
/* line 86, sass/shared/_experiences.sass */
div.experience_card .stats dfn.comments span:hover {
  background-position: -65px -6px;
}
/* line 88, sass/shared/_experiences.sass */
div.experience_card .stats dfn:hover {
  color: #02b7ff;
}

/* line 91, sass/shared/_experiences.sass */
.experience_header {
  position: relative;
  text-align: left;
  padding-left: 63px;
  margin-bottom: 20px;
}
/* line 94, sass/shared/_experiences.sass */
.experience_header h2 {
  min-height: 1.5em;
}
/* line 96, sass/shared/_experiences.sass */
.experience_header img.icon {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: #666666 0 1px 2px 0;
  -webkit-box-shadow: #666666 0 1px 2px 0;
  -o-box-shadow: #666666 0 1px 2px 0;
  box-shadow: #666666 0 1px 2px 0;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 104, sass/shared/_experiences.sass */
.experience_header var {
  color: gray;
}
/* line 106, sass/shared/_experiences.sass */
.experience_header .stats {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #efefef;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 113, sass/shared/_experiences.sass */
.experience_header .stats var {
  color: #666666;
}
/* line 116, sass/shared/_experiences.sass */
.experience_header .stats dfn {
  color: #666666;
  font-weight: bold;
  position: relative;
  padding-left: 33px;
  margin-right: 10px;
}
/* line 122, sass/shared/_experiences.sass */
.experience_header .stats dfn span {
  height: 20px;
  width: 30px;
  position: absolute;
  left: 0;
  background: url("http://snappitt-assets.s3.amazonaws.com/icons/assets.png") no-repeat scroll 0 0px transparent;
}
/* line 129, sass/shared/_experiences.sass */
.experience_header .stats dfn.views span {
  background-position: 0 -6px;
}
/* line 131, sass/shared/_experiences.sass */
.experience_header .stats dfn.views span:hover {
  background-position: 0px -38px;
}
/* line 134, sass/shared/_experiences.sass */
.experience_header .stats dfn.likes span {
  background-position: -32px -6px;
}
/* line 136, sass/shared/_experiences.sass */
.experience_header .stats dfn.likes span:hover {
  background-position: -32px -38px;
}
/* line 138, sass/shared/_experiences.sass */
.experience_header .stats dfn.comments {
  margin-right: 0;
}
/* line 140, sass/shared/_experiences.sass */
.experience_header .stats dfn.comments span {
  background-position: -65px -6px;
}
/* line 142, sass/shared/_experiences.sass */
.experience_header .stats dfn.comments span:hover {
  background-position: -65px -38px;
}
/* line 144, sass/shared/_experiences.sass */
.experience_header .stats dfn:hover {
  color: #02b7ff;
}

/* line 1, sass/shared/_users.sass */
.user_card {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 15px;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
}
/* line 7, sass/shared/_users.sass */
.user_card .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 55px;
}
/* line 12, sass/shared/_users.sass */
.user_card .icon img {
  margin: 0;
  vertical-align: middle;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: #666666 0 1px 2px 0;
  -webkit-box-shadow: #666666 0 1px 2px 0;
  -o-box-shadow: #666666 0 1px 2px 0;
  box-shadow: #666666 0 1px 2px 0;
}
/* line 17, sass/shared/_users.sass */
.user_card .info {
  margin-left: 60px;
}
/* line 19, sass/shared/_users.sass */
.user_card .info h2 {
  font-size: 18px;
}
/* line 21, sass/shared/_users.sass */
.user_card .info h2 a {
  font-weight: bold;
}
/* line 23, sass/shared/_users.sass */
.user_card .info h2 a.button {
  float: right;
  margin: 10px auto;
}
/* line 26, sass/shared/_users.sass */
.user_card .info h2 small {
  color: #999999;
  font-size: 15px;
}
/* line 29, sass/shared/_users.sass */
.user_card .info p {
  padding-top: 5px;
  font-family: georgia, serif;
  font-style: italic;
}
/* line 33, sass/shared/_users.sass */
.user_card .info dfn {
  font-size: 12px;
}

/* line 2, sass/shared/_follow.sass */
table.network th {
  text-align: left;
  padding-left: 15px;
}
/* line 5, sass/shared/_follow.sass */
table.network td {
  width: 50%;
  padding: 15px;
}

/* line 2, sass/shared/_moment.sass */
.moment_card img {
  margin: 0;
  border: 6px solid #efefef;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
/* line 6, sass/shared/_moment.sass */
.moment_card p {
  font-size: 13px;
  text-align: center;
}
/* line 9, sass/shared/_moment.sass */
.moment_card p.links {
  width: 620px;
  text-align: center;
  margin: 10px auto;
}
/* line 13, sass/shared/_moment.sass */
.moment_card p.links a {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #efefef), color-stop(100%, #d8d8d8));
  background-image: -moz-linear-gradient(top, #efefef 0%, #d8d8d8 100%);
  background-image: linear-gradient(top, #efefef 0%, #d8d8d8 100%);
  border: 1px solid #ababab;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: #707070;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  outline: medium none;
  padding: 5px 10px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
/* line 21, sass/application.sass */
.moment_card p.links a:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #e3e3e3));
  background-image: -moz-linear-gradient(top, #f6f6f6 0%, #e3e3e3 100%);
  background-image: linear-gradient(top, #f6f6f6 0%, #e3e3e3 100%);
  cursor: pointer;
  text-decoration: none;
}
/* line 25, sass/application.sass */
.moment_card p.links a:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f6f6f6));
  background-image: -moz-linear-gradient(top, #e3e3e3 0%, #f6f6f6 100%);
  background-image: linear-gradient(top, #e3e3e3 0%, #f6f6f6 100%);
  box-shadow: none;
}
/* line 15, sass/shared/_moment.sass */
.moment_card p.metadata {
  font-size: 11px;
  font-color: #999999;
}
/* line 19, sass/shared/_moment.sass */
.moment_card blockquote {
  width: 620px;
  margin: 10px auto;
  border: none;
  font-style: italic;
  padding: 0;
}
/* line 26, sass/shared/_moment.sass */
.moment_card input[type="submit"] {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c1e445), color-stop(100%, #a7d727));
  background-image: -moz-linear-gradient(top, #c1e445 0%, #a7d727 100%);
  background-image: linear-gradient(top, #c1e445 0%, #a7d727 100%);
  border: 1px solid #5a7214;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: #5a7214;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  outline: medium none;
  padding: 5px 10px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  margin: 10px auto;
}
/* line 45, sass/application.sass */
.moment_card input[type="submit"]:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cbf048), color-stop(100%, #b3e529));
  background-image: -moz-linear-gradient(top, #cbf048 0%, #b3e529 100%);
  background-image: linear-gradient(top, #cbf048 0%, #b3e529 100%);
  cursor: pointer;
  text-decoration: none;
}
/* line 49, sass/application.sass */
.moment_card input[type="submit"]:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b3e529), color-stop(100%, #cbf048));
  background-image: -moz-linear-gradient(top, #b3e529 0%, #cbf048 100%);
  background-image: linear-gradient(top, #b3e529 0%, #cbf048 100%);
  box-shadow: none;
}
/* line 30, sass/shared/_moment.sass */
.moment_card span.source {
  border-bottom: 1px dotted lightBlue;
}

/* line 2, sass/shared/_form.sass */
form input[type="text"] {
  -moz-transition-duration: 0.1s;
  -moz-transition-property: border-color;
  -moz-transition-timing-function: linear;
  background: none repeat scroll 0 0 white;
  border: 1px solid #b3b3b3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  width: 180px;
  font: 15px/18px "Helvetica Neue", Arial, sans-serif;
  color: #666666;
  height: 24px;
  outline: medium none;
  padding: 5px 9px;
  vertical-align: bottom;
}
/* line 16, sass/shared/_form.sass */
form input[type="text"]:hover {
  border-color: #8c8c8c;
}
/* line 18, sass/shared/_form.sass */
form input[type="text"]:focus {
  border-color: #39b2e5;
  -moz-box-shadow: #b5dff1 0 0 5px 0;
  -webkit-box-shadow: #b5dff1 0 0 5px 0;
  -o-box-shadow: #b5dff1 0 0 5px 0;
  box-shadow: #b5dff1 0 0 5px 0;
}
/* line 23, sass/shared/_form.sass */
form input[type="password"] {
  -moz-transition-duration: 0.1s;
  -moz-transition-property: border-color;
  -moz-transition-timing-function: linear;
  background: none repeat scroll 0 0 white;
  border: 1px solid #b3b3b3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  width: 180px;
  font: 15px/18px "Helvetica Neue", Arial, sans-serif;
  color: #666666;
  height: 24px;
  outline: medium none;
  padding: 5px 9px;
  vertical-align: bottom;
}
/* line 37, sass/shared/_form.sass */
form input[type="password"]:hover {
  border-color: #8c8c8c;
}
/* line 39, sass/shared/_form.sass */
form input[type="password"]:focus {
  border-color: #39b2e5;
  -moz-box-shadow: #b5dff1 0 0 5px 0;
  -webkit-box-shadow: #b5dff1 0 0 5px 0;
  -o-box-shadow: #b5dff1 0 0 5px 0;
  box-shadow: #b5dff1 0 0 5px 0;
}
/* line 43, sass/shared/_form.sass */
form input[type="submit"] {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #efefef), color-stop(100%, #d8d8d8));
  background-image: -moz-linear-gradient(top, #efefef 0%, #d8d8d8 100%);
  background-image: linear-gradient(top, #efefef 0%, #d8d8d8 100%);
  border: 1px solid #ababab;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: #707070;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  outline: medium none;
  padding: 5px 10px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
/* line 21, sass/application.sass */
form input[type="submit"]:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #e3e3e3));
  background-image: -moz-linear-gradient(top, #f6f6f6 0%, #e3e3e3 100%);
  background-image: linear-gradient(top, #f6f6f6 0%, #e3e3e3 100%);
  cursor: pointer;
  text-decoration: none;
}
/* line 25, sass/application.sass */
form input[type="submit"]:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f6f6f6));
  background-image: -moz-linear-gradient(top, #e3e3e3 0%, #f6f6f6 100%);
  background-image: linear-gradient(top, #e3e3e3 0%, #f6f6f6 100%);
  box-shadow: none;
}
/* line 46, sass/shared/_form.sass */
form textarea {
  -moz-transition-duration: 0.1s;
  -moz-transition-property: border-color;
  -moz-transition-timing-function: linear;
  background: none repeat scroll 0 0 white;
  border: 1px solid #b3b3b3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  width: 180px;
  font: 15px/18px "Helvetica Neue", Arial, sans-serif;
  color: #333333;
  height: 24px;
  outline: medium none;
  padding: 5px 9px;
  vertical-align: bottom;
}
/* line 60, sass/shared/_form.sass */
form textarea:hover {
  border-color: #8c8c8c;
}
/* line 62, sass/shared/_form.sass */
form textarea:focus {
  border-color: #39b2e5;
  -moz-box-shadow: #b5dff1 0 0 5px 0;
  -webkit-box-shadow: #b5dff1 0 0 5px 0;
  -o-box-shadow: #b5dff1 0 0 5px 0;
  box-shadow: #b5dff1 0 0 5px 0;
}

/* line 1, sass/shared/_flashmessage.sass */
.flash {
  padding: 15px;
  font-family: "Helvetica Neue", Arial, Sans Serif;
  text-shadow: 0 1px 0px white;
  background-color: #d9d9d9;
}
/* line 6, sass/shared/_flashmessage.sass */
.flash.notice {
  color: #009ad7;
  background: #bde5f8;
  border-bottom: 1px solid #009ad7;
}
/* line 10, sass/shared/_flashmessage.sass */
.flash.alert {
  color: #d8000c;
  background: #ffbaba;
  border-bottom: 1px solid #d8000c;
}
/* line 14, sass/shared/_flashmessage.sass */
.flash.error {
  color: #d8000c;
  background: #ffbaba;
  border-bottom: 1px solid #d8000c;
}
/* line 18, sass/shared/_flashmessage.sass */
.flash.success {
  color: #4f8a10;
  background: #dff2bf;
  border-bottom: 1px solid #4f8a10;
}

/* line 1, sass/shared/_activity.sass */
div.activity {
  width: 500px;
  text-align: left;
  font-size: 16px;
  margin: 20px auto;
}

/* line 1, sass/shared/_base.sass */
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #999999;
}

/* line 8, sass/shared/_base.sass */
h1 {
  font-size: 24px;
  color: #666666;
  text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.3);
}

/* line 12, sass/shared/_base.sass */
h2 {
  font-size: 20px;
  color: #666666;
  text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.3);
}

/* line 17, sass/shared/_base.sass */
h3 {
  font-size: 20px;
  color: #666666;
  text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.3);
}

/* line 22, sass/shared/_base.sass */
a {
  color: #02b7ff;
  text-decoration: none;
}
/* line 25, sass/shared/_base.sass */
a:visited {
  color: #02b7ff;
}
/* line 27, sass/shared/_base.sass */
a:hover {
  color: #02aaed;
  text-decoration: underline;
}
/* line 30, sass/shared/_base.sass */
a:focus {
  color: #02b7ff;
}

/* line 33, sass/shared/_base.sass */
textarea.auto {
  height: auto;
  width: auto;
}

/* line 37, sass/shared/_base.sass */
dl {
  margin: 0;
  line-height: 1.2em;
}
/* line 40, sass/shared/_base.sass */
dl dt {
  font-weight: normal;
  margin: 0;
}
/* line 43, sass/shared/_base.sass */
dl dd {
  margin: 0;
}

/* line 47, sass/shared/_base.sass */
table td {
  border: none !important;
}
/* line 49, sass/shared/_base.sass */
table td img {
  margin: 0;
}
/* line 51, sass/shared/_base.sass */
table.comment {
  width: auto;
  margin: 0 auto;
}
/* line 54, sass/shared/_base.sass */
table.comment td {
  text-align: left;
}

/* line 57, sass/shared/_base.sass */
img {
  border: none;
}

/* line 60, sass/shared/_base.sass */
p {
  margin: 0;
  padding: 0;
}

/* line 64, sass/shared/_base.sass */
label {
  display: block;
  font-size: 13px;
  font-weight: bold;
}

/* line 69, sass/shared/_base.sass */
fieldset {
  background: #efefef;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #dedede;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

/* line 76, sass/shared/_base.sass */
a.button {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #efefef), color-stop(100%, #d8d8d8));
  background-image: -moz-linear-gradient(top, #efefef 0%, #d8d8d8 100%);
  background-image: linear-gradient(top, #efefef 0%, #d8d8d8 100%);
  border: 1px solid #ababab;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
  color: #707070;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  outline: medium none;
  padding: 5px 10px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
/* line 21, sass/application.sass */
a.button:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #e3e3e3));
  background-image: -moz-linear-gradient(top, #f6f6f6 0%, #e3e3e3 100%);
  background-image: linear-gradient(top, #f6f6f6 0%, #e3e3e3 100%);
  cursor: pointer;
  text-decoration: none;
}
/* line 25, sass/application.sass */
a.button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f6f6f6));
  background-image: -moz-linear-gradient(top, #e3e3e3 0%, #f6f6f6 100%);
  background-image: linear-gradient(top, #e3e3e3 0%, #f6f6f6 100%);
  box-shadow: none;
}

/* line 79, sass/shared/_base.sass */
var {
  font-size: 13px;
}
