<h1>People</h1>

<%= render(:partial => '/users/follow/network', :locals => {:user => current_user}) if user_signed_in? %>

<br/><br/><br/>

<table class="network">
  <tr>
    <th><h2>Newest</h2></th>
    <th><h2>Most Active</h2></th>
  </tr>
  <tr>
    <td><%= render User.newest.limit(10) %></td>
    <td><%= render User.most_active.limit(10) %></td>
  </tr>
</table>
