<div class="experience_card">
  <ul>
    <li>Image: </li>
    <li>User: <%= exp.creator %></li>
    <li>Moments: <%= exp.moments.count %></li>
    <li>Views: <%#= exp.views %></li>
    <li>Likes: <%#= exp.likes %></li>
    <li>Comments: <%= exp.comments.count %></li>
  </ul>
</div>