<fieldset style="width: 400px; margin: 0 auto; margin-bottom: 15px">
  <legend>New stuff!</legend>
  <ul>
    <li>Shrink page to 640px wide</li>
    <li>Added <%= link_to('email notification settings', user_settings_path(current_user, :anchor => 'email')) %></li>
  </ul>
</fieldset>

<h1>Experience Feed</h1>
<table class="feed"><tr><td><%= render @experiences %></td></tr></table>

<br style="clear:both" />