<% last_date = nil %>
<% @feed.each do |e| %>
  <% if last_date != e.updated_at.to_formatted_s(:mdy) %>
    <h2><%= e.updated_at.to_formatted_s(:mdy) %></h2>
    <% last_date = e.updated_at.to_formatted_s(:mdy) %>
  <% end %>
  <%= render :partial => 'experience', :locals => {:exp => e} %>
<% end %>