<h1>Quick &amp; Easy Group Photo Sharing</h1>

<p>Start fast: Send photos to post@snappitt.com</p>

<br/><br/>

<% @title = 'Recent Experiences' %>
<%= render Experience.last_three %>

<br style="clear:both"/>