<h2><%= t('app.tagline') %></h2>

<h3>Email photos to <a href="mailto:post@snappitt.com">post@snappitt.com</a></h3>

<br/><br/>

<% @title = 'Recent Experiences' %>
<%= render Experience.last_three %>

<br style="clear:both"/>