<div id="m">
  <h2>Choose an Image</h2>
</div>

<div class="grid">
<% @experience.moments.filo.each do |m| %>
  <%= image_tag(m.photo_url(:avatar), :class => 'photo', :onclick => "$('m').show().update('<img src=\"#{SiteAssets[:loading]}\"/>'); new Ajax.Updater('m','#{one_experience_moment_url(@experience,m)}',{method: 'get'})") %>
<% end %>
</div>

<%= javascript_tag do %>
  if( location.hash ) {
    var u = '<%= one_experience_moment_url(@experience,0) %>';
    u = u.replace('/0/','/'+location.hash.substr(1)+'/');
    $('m').show().update('<img src="<%= SiteAssets[:loading] %>"/>');
    new Ajax.Updater('m',u,{method: 'get'});
  }
<% end %>