<div class="grid">
<% @experience.moments.filo.each do |m| %>
  <%= image_tag(m.photo_url(:avatar), :alt => '', :class => 'photo', :onclick => "location.hash = '#%s'" % m.id) %>
<% end %>
</div>

<% cnt = @experience.moments.count + 1 %>
<% @experience.moments.filo.each do |m| %>
  <% @moment = m %>
  <a name="<%= m.id %>"></a>
  <%= render :file => '/moments/one.html.erb' %>
<% end %>

<div class="view">
  <%= link_to('View One', experience_path(@experience, :one => 1)) %>
</div>
