<div class="grid">
<% @experience.moments.fifo.each do |m| %>
  <%= image_tag(m.photo_url(:thumb), :class => 'photo') %>
<% end %>
</div>

<% cnt = @experience.moments.count + 1 %>
<% @experience.moments.filo.each do |m| %>
  <% @moment = m %>
  <a name="<%= m.id %>"></a>
  <%= render :file => '/moments/one.html.erb' %>
<% end %>