<%= render :partial => '/experiences/header' %>

<%= render :partial => '/experiences/view_%s' % @view %>

<fieldset>
  <legend>Share (super-beta, use at your own risk)</legend>
  <iframe src="http://www.facebook.com/plugins/like.php?href=<%= u current_url %>&amp;layout=standard&amp;sho.w_faces=true&amp;width=600&amp;action=like&amp;font&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
</fieldset>

<% if @causes %>

<fieldset>
  <legend>Recent Activity</legend>
  <div class="activity">
    <ol>
      <% @causes.each do |action| %>
        <li><%= action.summary(Cause::Decorator.new(@user)) %></li>
      <% end %>
    </ol>
  </div>
</fieldset>

<% end %>
