h2.feed_date {
  clear: both;
  font-family: georgia;
  font-style: italic;
  font-size: 22px;
  color: gray;
  text-decoration: underline; }

table.feed {
  margin: 0 auto;
  width: auto;
  max-width: 980px; }
  table.feed td {
    text-align: center; }

div.experience_card {
  width: 292px;
  float: left;
  padding: 15px; }
  div.experience_card .cover {
    border: 6px solid whiteSmoke;
    -moz-border-radius: 6px;
    position: relative;
    width: 280px;
    height: 157px;
    overflow: hidden;
    margin-bottom: 10px; }
    div.experience_card .cover .user {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 48px;
      height: 48px;
      background-color: white;
      -moz-border-radius: 6px;
      -moz-box-shadow: 0px 0px 5px black; }
    div.experience_card .cover .moments {
      position: absolute;
      background-color: black;
      opacity: 0.7;
      right: 10px;
      bottom: 10px;
      -moz-border-radius: 6px;
      color: white;
      font-size: 10px;
      padding: 3px; }
  div.experience_card .stats {
    border-top: 1px solid #999999;
    margin-top: 10px;
    padding: 10px; }
