h2.feed_date {
  clear: both;
  font-family: georgia;
  font-style: italic;
  font-size: 22px;
  color: gray;
  text-decoration: underline; }

.experience_card {
  width: 300px;
  height: 200px;
  float: left; }
