#page_header {
  background-color: #333333;
  color: white;
  position: fixed;
  height: 125px;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center; }
  #page_header h1 {
    font-size: 28px;
    color: white;
    font-family: Georgia, Helvetica Neue;
    font-style: italic;
    margin: 22px;
    padding: 0; }
  #page_header ul {
    margin: 0 auto;
    width: 850px;
    padding: 0; }
    #page_header ul li {
      width: 160px;
      float: left;
      margin: 0;
      padding: 0;
      list-style: none; }

#page_body {
  margin-top: 150px;
  text-align: center; }
